-f https://download.pytorch.org/whl/cpu/torch_stable.html
absl-py==1.0.0
cachetools==5.0.0
certifi==2020.6.20
cycler==0.11.0
Flask==1.1.2
fonttools==4.29.1
google-auth==2.6.0
google-auth-oauthlib==0.4.6
gunicorn==20.1.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2 
jmespath==0.10.0
json5==0.9.6
kiwisolver==1.3.2
Markdown==3.3.6
oauthlib==3.2.0
Pillow==8.4.0
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyYAML==6.0
requests 
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.1
Send2Trash 
sip==5.0.0
six 
sniffio
stack-data 
terminado
testpath 
thop==0.0.31.post2005241907
tomli 
torch==1.10.2+cpu
torchaudio==0.10.2+cpu
torchvision==0.11.3+cpu
tornado 
tqdm==4.62.3
traitlets 
typed-ast
typing-extensions 
urllib3 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug==2.0.3
widgetsnbextension==3.5.1
win-inet-pton 
wincertstore==0.2
zipp
opencv-contrib-python-headless
pandas
matplotlib
seaborn